<div class="jumbotron">
  <div class="header-content">
    <div class="header-content-inner">
      <h1> Ben Zug </h1>
    </div>
  </div>
</div>

<section class="background-1">
  <div class="container">
    <div class="col-md-12">
      <div class="bioheader mar-top-10">BIO</div>
      <div class="biotext">Write stuff about yourself</div>
    </div>
  </div>
</section>
<section class="background-2">
  <div class="container">
    <div class="col-md-4">
      <div ng-repeat="exp in experience">
        <img scr="{{exp.image}}">
      </div>
    </div>
  </div>
</section>
